<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <title>Rukkus.fm</title>
      <link rel="stylesheet" href="../static/css/style.css" />
      <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-31315748-1']);
         _gaq.push(['_trackPageview']);

         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
      </script>
   </head>
   <body>
      <div id="header">
      <img src="../static/img/logo.png" width="98" height="30" alt="Rukkus.FM" />
      <span id="addSong"><a href="javascript:toggleSearch()"><img src="../static/img/addsong.png" width="23" height="23" alt="Add Song" /></a></span>
      </div>
      <div id="nowPlaying">
         <div id="nowPlaying_count" class="upvoteCount"><img src="../static/img/headphones.png" width="20" height="20" alt="Now Playing" /></div>
         <div class="songInfo">
            <div id="nowPlaying_track" class="track">Nothing Playing</div>
            <div id="nowPlaying_artist" class="artist">Get ready to Rukkus</div>
         </div>
      </div>
      <div id="searchFieldWrapper">
      	<div id="searchField">
      	 <form id="searchForm" method="get">
				    <fieldset><input id="searchInput" placeholder="enter track or artist" type="search" autocapitalize="off" autocorrect="off" name="addSongSearch">
				    <input id="submit" type="hidden"></fieldset>
			   </form>
      	
      	</div>
      </div>
      <div id="queue"></div>
      <div id="searchResults"></div>
      <div id="loadingIndicator"><img src="../static/img/loading.gif" alt="Loading" /></div>
   </body>
   <script type="text/javascript"> var partyID = "{{ partyID }}";</script>
   <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
   <script type="application/javascript" src="../static/js/script.js"></script>
   <script type="application/javascript" src="../static/js/search.js"></script>
   <script type="application/javascript" src="../static/js/quicksand.js"></script>
   <script type="application/javascript">
   $(document).ready(function() {
		updateQueue();
		setInterval(updateQueue, 4000);
	
		// Bind search function to search form
		$('#searchForm').submit(function() {
  		$("#searchInput").blur()
  		return false;
		});

      var typingTimer;
      var doneTypingInterval = 300;

      //on keyup, start the countdown
      $('#searchInput').keyup(function(){
          clearTimeout(typingTimer);
          if ($('#searchInput').val) {
              typingTimer = setTimeout(doneTyping, doneTypingInterval);
          }
      });

      function doneTyping () {
         var searchTerms;
         searchTerms = $("#searchInput").val();
         doSearch(searchTerms);
         return false;
      }
	});
   </script>
</html>